
<!-- <div class="ngForContainer">
  <h2>EmployeeList</h2>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees" >
        <td> {{employee.id}} </td>
        <td> {{employee.firstName}} </td>
        <td> {{employee.lastName}} </td>
        <td> {{employee.emailId}} </td>
      </tr>
    </tbody>
  </table>
</div> -->
<!-- @angular/Material Design -->
<div class="matTableContainer">
  <h1>MaterialTabel</h1>
  <table mat-table [dataSource]="employees" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> firstName </th>
      <td mat-cell *matCellDef="let employee"> {{employee.firstName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> lastName </th>
      <td mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="emailId">
      <th mat-header-cell *matHeaderCellDef> emailId </th>
      <td mat-cell *matCellDef="let employee"> {{employee.emailId}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
